.fecha{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid;
    text-align:right;

}
.volanta{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid;
    text-align:center;
}
.titular{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 900;
    text-align:center;   
    color:black;
}
.imagen img{
    
 
    
    
}
.epigrafe{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-style: italic;
}
.copete{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;

}
.cuerpo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}